# Git
.git
.gitignore

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
runtime/logs/*
!runtime/logs/.gitkeep

# Vendor (будет установлен внутри контейнера)
vendor/

# Environment
.env

# Tests
tests/